main {
  width: 100%;
  padding: 40px 60px 0;
  display: flex;
  justify-content: center;

  .startQuiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 16px;

    article {
      display: flex;
      column-gap: 26px;
    }
  }

  .form {

    nav {
      display: flex;
      justify-content: center;
      column-gap: 18px;
    }

    .articleAnswers {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      margin-top: 20px;

      .answersBlock {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
      }
    }
  }

}

@media screen and (max-width: 560px){
  main {
    text-align: center;
    padding: 40px 40px;

    .form {
      display: flex;
      flex-direction: column;

      .answersBlock {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        column-gap: 20px;
      }

      article {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 360px){
  main {

    .form nav {
      display: flex;
      flex-direction: column;

        button {
          margin-top: 20px;
        }
    }

    .startQuiz article {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
}